.default {
	font-family: Segoe UI;
	font-size: 12px;
}

.LargeField {
	font-family: Segoe UI;
	font-size: 12px;
}

.LargeLabel {
	font-family: Segoe UI;
	font-size: 12px;
}

.Monospace_Large {
	font-family: Courier New;
	font-size: 13px;
}

.Sync_List_Header {
	font-family: Segoe UI;
	font-size: 9px;
}

.Sync_List_Item {
	font-family: Segoe UI;
	font-size: 10px;
}

